.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game {
  text-align: center;
}

.GameGrid {
  display: flex;
  flex-direction: column;
}

.GameRow {
  display: flex;
  flex-direction: row;
}

.GameCell {
  width: 30px;
  height: 30px;
  border: 2px white solid;
  padding: 6px;
  margin: 2px;
  color: black;
  font-weight: bold;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

.hidden {
  background-color: #222;
}

.flag {
 background-color: lightpink;
}

.neighbors_0 {
  background-color: slategray;
}
.neighbors_1 {
  background-color: blue;
}
.neighbors_2 {
  background-color: green;
}
.neighbors_3 {
  background-color: red;
}
.neighbors_4 {
  background-color: purple;
}
.neighbors_5 {
  background-color: slateblue;
}
.neighbors_6 {
  background-color: limegreen;
}
.neighbors_7 {
  background-color: gray;
}
.neighbors_8 {
  background-color: black;
}

.mine {
  background-color: black;
  border-radius: 50%;
  border-color: red;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
